@model Document.Mgr.Model.UserInfo

@{
    Layout = null;
}


<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico">
    <link rel="Shortcut Icon" href="/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/Content/H-ui.admin_v2.5/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/H-ui.admin_v2.5/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/Content/H-ui.admin_v2.5/lib/Hui-iconfont/1.0.7/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/Content/H-ui.admin_v2.5/lib/icheck/icheck.css" />
    <link rel="stylesheet" type="text/css" href="/Content/H-ui.admin_v2.5/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/Content/H-ui.admin_v2.5/static/h-ui.admin/css/style.css" />

    <!--/meta 作为公共模版分离出去-->
    <title>修改密码</title>

</head>
<body>
    <article class="page-container">
        <form action="/ClientUser/UpdateUserPwd" method="post" class="form form-horizontal" id="form-change-password">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>账户：</label>
                <div class="formControls col-xs-8 col-sm-9"> @Model.Name </div>
                <input type="hidden" name="id" value="@Model.Id" />
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>原密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" placeholder="请输入原密码" name="oldPwd" id="oldPwd">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" placeholder="请输入新密码" name="newPwd1" id="newPwd1">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="password" class="input-text" autocomplete="off" placeholder="请确认新密码" name="newPwd2" id="newPwd2">
                </div>
            </div>
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </article>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/lib/layer/2.1/layer.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/lib/icheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="/Content/H-ui.admin_v2.5/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script src="~/Scripts/jquery-form.js"></script>
    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
        $(function () {
            $("#form-change-password").validate({
                rules: {
                    newPwd1: {
                        required: true,
                        minlength: 6,
                        maxlength: 16
                    },
                    oldPwd: {
                        required: true,
                        minlength: 6,
                        maxlength: 16
                    },
                    newPwd2: {
                        required: true,
                        minlength: 6,
                        maxlength: 16,
                        equalTo: "#newPwd1"
                    },
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    $(form).ajaxSubmit(function (message) {
                        if (message == "ok") {
                            layer.msg("修改密码成功，即将前往登录页面!", { icon: 1, time: 1500 });
                            setTimeout(function () { window.parent.window.location.href = "/Login/Index" }, 1200);
                        } else {
                            layer.msg(message, { icon: 2, time: 1000 });
                        }
                    });
                }
            });
        });
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>
</html>